footer{
    background-color: black;

}

.rodape{
    text-align: center;
    padding: 10px;
    color: white;
    
}

.imagem_icone{
    height: 100px;
    position: relative;

   
}